* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 300px) {
  .background_color {
    background-color: white;
  }

  /* ___________________INDHOLD_________________________ */

  #first_section {
    margin: 13%;
    padding: 40px;
    margin-top: auto;
    gap: 20px;
  }

  .boxommig {
    background-color: white;
    padding: 2%;
    line-height: 20px;
    font-size: 14px;
  }
  .overskrift {
    margin: 20%;
    margin-left: 0;
  }
  .txt1 {
    margin: 0%;
  }

  .boxtxt2 {
    margin: 10%;
    margin-top: -1%;
  }

  .boxbillede {
    background-image: url(portrait.jpg);
    background-size: cover;
    aspect-ratio: 3960/3171;
    background-size: cover;
  }

  .titel {
    background-color: #f4e9e9;
    text-align: center;
    padding: 6%;
  }

  .titel h1 {
    font-size: 3rem;
  }

  .titel h2 {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .background_color {
    background-color: white;
  }

  /* ___________________INDHOLD_________________________ */

  #first_section {
    margin: 13%;
    padding: 40px;
    margin-top: auto;
    gap: 20px;
  }

  .boxommig {
    background-color: white;
    padding: 2%;
    line-height: 31px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
  }

  .overskrift {
    margin: 8%;
    margin-left: 0;
  }
  .txt1 {
    margin: 0%;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 17px;
  }

  .boxtxt2 {
    margin: 10%;
    margin-top: -1%;
  }

  .boxbillede {
    background-image: url(portrait.jpg);
    background-size: cover;
    aspect-ratio: 3960/3171;
    background-size: cover;
  }

  .titel {
    background-color: #f4e9e9;
    text-align: center;
    padding: 6%;
  }

  .titel h1 {
    font-size: 3rem;
  }

  .titel h2 {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .background_color {
    background-color: white;
  }

  /* ___________________INDHOLD_________________________ */

  #first_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(16, 10vw);
    margin: 13%;
    padding: 40px;
    margin-top: auto;
    gap: 20px;
  }

  .boxommig {
    background-color: white;
    grid-column: 2/9;
    grid-row: 1/6;
    display: grid;

    grid-column-start: 2;
    padding: 10%;
  }

  .boxtxt1 {
    grid-column: 1;
    grid-row: 1/2;
    margin: 10%;
  }

  .boxtxt2 {
    margin: 10%;
    margin-top: -1%;
  }

  .boxbillede {
    background-image: url(portrait.jpg);
    grid-column: 1/2;
    grid-row: 2;
    background-size: cover;
    aspect-ratio: 3960/3171;
    margin-left: -12%;
    grid-row: 2;
  }

  .titel h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
    color: black;
  }

  .titel h2 {
    font-size: 1rem;
  }
}
