* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 300px) {
  .txt1 {
    line-height: 20px;
    font-size: 12px;
  }

  .background_color {
    background-color: #f8c6a4;
  }

  /* ____________BOX MED TITEL_________________ */

  .titel {
    background-color: #f4e9e9;
    text-align: center;
    padding: 2%;
  }

  .titel h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
    color: black;
  }

  .titel h2 {
    font-size: 1rem;
  }

  /* _______________indhold________________ */

  #first_section {
    object-fit: cover;
    margin: 12%;
    margin-top: 5%;
  }
  .boxholder {
    grid-column-start: 2;
    padding: 10%;
    margin-top: 4%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .billedebox {
    grid-column-start: 1;
    background-image: url(web5/con.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 622/531;
  }

  #second_section {
    object-fit: cover;
    /* gap: 10%; */
    margin: 12%;
    margin-top: -10%;
  }
  .boxholder2 {
    grid-column-start: 1;
    padding: 10%;
    margin-top: -2%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  video {
    margin-top: 16%;
    margin-bottom: 3rem;
  }

  #third_section {
    margin: 0%;
    margin-top: 5%;
    background-color: black;
  }

  .billedebox3 {
    display: grid;
    gap: 0%;
    padding: 15%;
  }

  .billede1 {
    background-image: url(web5/trello.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 10%;
  }

  .billede2 {
    background-image: url(web5/prototype.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 10%;
  }

  .billede3 {
    background-image: url(web5/gammelstyletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 905/572;
    margin-top: 10%;
  }

  .billede4 {
    background-image: url(web5/premirer.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 10%;
  }

  .billede5 {
    background-image: url(web5/styletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 907/574;
    margin-top: 10%;
  }

  .billede6 {
    background-image: url(web5/mood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 905/528;
    margin-top: 10%;
  }

  .billede7 {
    background-image: url(web5/bert-test.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 10%;
  }

  .billede8 {
    background-image: url(web5/lightgammel.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 10%;
  }

  .billede9 {
    background-image: url(web5/lightny.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 10%;
  }
}

@media (min-width: 600px) {
  .background_color {
    background-color: #f8c6a4;
  }

  .titel {
    background-color: #f4e9e9;
    text-align: center;
    padding: 2%;
  }

  .titel h1 {
    font-size: 3rem;
  }

  .titel h2 {
    font-size: 1rem;
  }

  #first_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    object-fit: cover;

    margin: 12%;
    margin-top: 5%;
  }
  .boxholder {
    grid-column-start: 2;
    padding: 10%;
    margin-top: 4%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .billedebox {
    grid-column-start: 1;
    margin-top: 52%;
    background-image: url(web5/con.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 617/533;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  video {
    margin-top: 16%;
    margin-bottom: 3rem;
  }

  #second_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8, 50px);
    object-fit: cover;

    margin: 12%;
    margin-top: -10%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .boxholder2 {
    grid-column-start: 2;
    padding: 10%;
    margin-top: -2%;
  }

  .txt1 {
    line-height: 27px;
    font-size: 13px;
  }

  #third_section {
    margin: 0%;
    margin-top: 5%;
    background-color: black;
  }

  .billedebox3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .billede1 {
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    background-image: url(web5/trello.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 28%;
  }

  .billede2 {
    background-image: url(web5/prototype.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 2;
  }

  .billede3 {
    background-image: url(web5/gammelstyletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 905/572;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 4;
  }

  .billede4 {
    background-image: url(web5/premirer.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 5;
  }

  .billede5 {
    background-image: url(web5/styletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 907/574;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 6;
  }

  .billede6 {
    background-image: url(web5/mood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1047/653;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 7;
  }

  .billede7 {
    background-image: url(web5/bert-test.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 484/326;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 8;
  }

  .billede8 {
    background-image: url(web5/gammelstyletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 495/358;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 9;
  }

  .billede9 {
    background-image: url(web5/lightny.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1152/726;
    margin-top: 28%;
    grid-column: 1;
    grid-row: 10;
  }
}

@media (min-width: 900px) {
  .background_color {
    background-color: #f8c6a4;
  }

  /* ____________BOX MED TITEL_________________ */

  .titel {
    background-color: #f4e9e9;
    text-align: center;
    padding: 2%;
  }

  .titel h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
    color: black;
  }

  .titel h2 {
    font-size: 1rem;
  }

  /* _______________indhold________________ */

  #first_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    object-fit: cover;
    /* gap: 10%; */
    margin: 12%;
    margin-top: 5%;
  }
  .boxholder {
    grid-column-start: 2;
    padding: 10%;
    margin-top: 4%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .billedebox {
    grid-column-start: 1;
    background-image: url(web5/con.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 617/533;
    margin-top: 5%;
  }

  #second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    object-fit: cover;
    /* gap: 10%; */
    margin: 12%;
    margin-top: -10%;
    margin-top: -10%;
    grid-template-rows: repeat(8, 50px);
  }

  .boxholder2 {
    grid-column-start: 1;
    padding: 10%;
    margin-top: -2%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .txt1 {
    line-height: 30px;
    font-size: 16px;
  }

  #third_section {
    margin: 0%;

    margin-top: 0%;
    margin-top: 5%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(34, 3vw);
    gap: 3%;
    padding: 8%;
  }
  .billedebox3 {
    grid-column: 1/9;
    grid-row: 1/20;

    display: grid;
    grid-template-columns: repeat(9, 2fr);
    grid-template-rows: repeat(16, 3vw);
    padding: 2%;
    margin: -2%;
    gap: 4%;
  }

  .billede1 {
    background-image: url(web5/trello.png);
    background-repeat: no-repeat;

    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 1/4;
    grid-row: 1;
  }

  .billede2 {
    background-image: url(web5/prototype.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 4/7;
    grid-row: 1;
  }

  .billede3 {
    background-image: url(web5/gammelstyletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 7/10;
    grid-row: 1;
  }

  .billede4 {
    background-image: url(web5/premirer.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 1/4;
    grid-row: 4;
  }

  .billede5 {
    background-image: url(web5/styletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 4/7;
    grid-row: 4;
  }

  .billede6 {
    background-image: url(web5/mood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 7/10;
    grid-row: 4;
  }

  .billede7 {
    background-image: url(web5/bert-test.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 1/4;
    grid-row: 7;
  }

  .billede8 {
    background-image: url(web5/lightgammel.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 4/7;
    grid-row: 7;
  }

  .billede9 {
    background-image: url(web5/lightny.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 7/10;
    grid-row: 7;
  }
}

@media (min-width: 1000px) {
  .background_color {
    background-color: #d1d2d6;
  }

  .background_color {
    background-color: #f8c6a4;
  }
  /* ____________BOX MED TITEL_________________ */

  .titel {
    background-color: #f4e9e9;
    text-align: center;
    padding: 2%;
  }

  .titel h1 {
    font-size: 3rem;
  }

  .titel h2 {
    font-size: 1rem;
  }

  /* _______________indhold________________ */

  #first_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    object-fit: cover;
    /* gap: 10%; */
    margin: 12%;
    margin-top: 5%;
  }
  .boxholder {
    grid-column-start: 2;
    padding: 10%;
    margin-top: 4%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .billedebox {
    grid-column-start: 1;
    background-image: url(web5/con.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 617/533;
    margin-top: 5%;
  }

  #second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    object-fit: cover;
    /* gap: 10%; */
    margin: 12%;
    margin-top: -10%;
    margin-top: -10%;
    grid-template-rows: repeat(8, 50px);
  }

  .boxholder2 {
    grid-column-start: 1;
    padding: 10%;
    margin-top: -2%;
  }

  .overskrift {
    padding-bottom: 10%;
  }

  .txt1 {
    line-height: 30px;
    font-size: 16px;
  }

  #third_section {
    margin: 0%;

    margin-top: 0%;
    margin-top: 33%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(34, 3vw);
    gap: 3%;
    padding: 8%;
  }
  .billedebox3 {
    grid-column: 1/9;
    grid-row: 1/20;

    display: grid;
    grid-template-columns: repeat(9, 2fr);
    grid-template-rows: repeat(16, 3vw);
    padding: 2%;
    margin: -2%;
    gap: 4%;
  }

  .billede1 {
    background-image: url(web5/trello.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 1/4;
    grid-row: 1;
  }

  .billede2 {
    background-image: url(web5/prototype.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 4/7;
    grid-row: 1;
  }

  .billede3 {
    background-image: url(web5/monowire.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 7/10;
    grid-row: 1;
  }

  .billede4 {
    background-image: url(web5/premirer.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 1/4;
    grid-row: 4;
  }

  .billede5 {
    background-image: url(web5/styletile.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 4/7;
    grid-row: 4;
  }

  .billede6 {
    background-image: url(web5/mood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 7/10;
    grid-row: 4;
  }

  .billede7 {
    background-image: url(web5/bert-test.png);
    background-repeat: no-repeat;

    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 1/4;
    grid-row: 7;
  }

  .billede8 {
    background-image: url(web5/lightgammel.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 4/7;
    grid-row: 7;
  }

  .billede9 {
    background-image: url(web5/lightny.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1404/783;
    grid-column: 7/10;
    grid-row: 7;
  }
}
